nhgh-edi-backend/adf-edi/pl_orch_report/pipeline/pl_load_indigo_v2_report.json
{
    "name": "pl_load_indigo_v2_report",
    "properties": {
        "activities": [
            {
                "name": "Get Usbdg Device Metadata",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_adls_curated_usbdg_device_csv",
                        "type": "DatasetReference",
                        "parameters": {
                            "PL_C_PARAM_TRANSFORM_CURATED_PATH": {
                                "value": "@pipeline().parameters.PL_C_PARAM_TRANSFORM_CURATED_PATH",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        "exists"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "Route Indigo Loading",
                "description": "Routes Indigo packages by source (USBDG or Varo)",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Get Usbdg Device Metadata",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@activity('Get Usbdg Device Metadata').output.exists",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Load Varo Indigo Files",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "pl_load_indigo_v2_report_varo",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "PL_P_PARAM_TRIGGER_TIME": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_TRIGGER_TIME",
                                        "type": "Expression"
                                    },
                                    "PL_P_PARAM_FOLDER_NAME": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_FOLDER_NAME",
                                        "type": "Expression"
                                    },
                                    "PL_P_PARAM_FILE_NAME": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_FILE_NAME",
                                        "type": "Expression"
                                    },
                                    "PL_P_PARAM_LOG_DIR_GUID": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_LOG_DIR_GUID",
                                        "type": "Expression"
                                    },
                                    "PL_C_PARAM_TRANSFORM_CURATED_PATH": {
                                        "value": "@pipeline().parameters.PL_C_PARAM_TRANSFORM_CURATED_PATH",
                                        "type": "Expression"
                                    },
                                    "PL_C_PARAM_TRANSFORM_DEVICE_TYPE": {
                                        "value": "@pipeline().parameters.PL_C_PARAM_TRANSFORM_DEVICE_TYPE",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "Load Usbdg Indigo",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "pl_load_indigo_v2_report_usbdg",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "PL_P_PARAM_TRIGGER_TIME": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_TRIGGER_TIME",
                                        "type": "Expression"
                                    },
                                    "PL_P_PARAM_FOLDER_NAME": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_FOLDER_NAME",
                                        "type": "Expression"
                                    },
                                    "PL_P_PARAM_FILE_NAME": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_FILE_NAME",
                                        "type": "Expression"
                                    },
                                    "PL_P_PARAM_LOG_DIR_GUID": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_LOG_DIR_GUID",
                                        "type": "Expression"
                                    },
                                    "PL_C_PARAM_TRANSFORM_CURATED_PATH": {
                                        "value": "@pipeline().parameters.PL_C_PARAM_TRANSFORM_CURATED_PATH",
                                        "type": "Expression"
                                    },
                                    "PL_C_PARAM_TRANSFORM_DEVICE_TYPE": {
                                        "value": "@pipeline().parameters.PL_C_PARAM_TRANSFORM_DEVICE_TYPE",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "PL_P_PARAM_TRIGGER_TIME": {
                "type": "string"
            },
            "PL_P_PARAM_FOLDER_NAME": {
                "type": "string"
            },
            "PL_P_PARAM_FILE_NAME": {
                "type": "string"
            },
            "PL_P_PARAM_LOG_DIR_GUID": {
                "type": "string"
            },
            "PL_C_PARAM_TRANSFORM_CURATED_PATH": {
                "type": "string"
            },
            "PL_C_PARAM_TRANSFORM_DEVICE_TYPE": {
                "type": "string"
            }
        },
        "folder": {
            "name": "Load"
        },
        "annotations": [],
        "lastPublishTime": "2023-03-06T17:30:19Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}