nhgh-edi-backend/adf-edi/pl_orch_report/pipeline/pl_transform_report.json
{
    "name": "pl_transform_report",
    "properties": {
        "activities": [
            {
                "name": "Transform",
                "type": "AzureFunctionActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "functionName": "transform",
                    "method": "POST",
                    "body": {
                        "value": "@json(pipeline().parameters.PL_C_PARAM_REQ_JSON)",
                        "type": "Expression"
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_func_transform",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Delete",
                "type": "Delete",
                "dependsOn": [
                    {
                        "activity": "Transform",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_adls_stage",
                        "type": "DatasetReference",
                        "parameters": {
                            "PL_P_PARAM_LOG_DIR_GUID": {
                                "value": "@pipeline().parameters.PL_P_PARAM_LOG_DIR_GUID",
                                "type": "Expression"
                            }
                        }
                    },
                    "enableLogging": false,
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "Get Device Type",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Transform",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "PL_C_VAR_TRANSFORM_DEVICE_TYPE",
                    "value": {
                        "value": "@split(activity('Transform').output.path,'/')[0]",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Load Indigo V2 Data",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Get Device Type",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(variables('PL_C_VAR_TRANSFORM_DEVICE_TYPE'),'indigo_v2')",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "pl_transform_indigo_v2_report",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "pl_load_indigo_v2_report",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "PL_P_PARAM_TRIGGER_TIME": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_TRIGGER_TIME",
                                        "type": "Expression"
                                    },
                                    "PL_P_PARAM_FOLDER_NAME": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_FOLDER_NAME",
                                        "type": "Expression"
                                    },
                                    "PL_P_PARAM_FILE_NAME": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_FILE_NAME",
                                        "type": "Expression"
                                    },
                                    "PL_P_PARAM_LOG_DIR_GUID": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_LOG_DIR_GUID",
                                        "type": "Expression"
                                    },
                                    "PL_C_PARAM_TRANSFORM_CURATED_PATH": {
                                        "value": "@concat(variables('PL_C_VAR_TRANSFORM_DEVICE_TYPE'),'/',pipeline().parameters.PL_P_PARAM_LOG_DIR_GUID)",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Load No Logger Data",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Get Device Type",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(variables('PL_C_VAR_TRANSFORM_DEVICE_TYPE'),'no_logger')",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Load Only Logger Data",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "pl_load_no_logger_report",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "PL_P_PARAM_TRIGGER_TIME": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_TRIGGER_TIME",
                                        "type": "Expression"
                                    },
                                    "PL_P_PARAM_FOLDER_NAME": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_FOLDER_NAME",
                                        "type": "Expression"
                                    },
                                    "PL_P_PARAM_FILE_NAME": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_FILE_NAME",
                                        "type": "Expression"
                                    },
                                    "PL_P_PARAM_LOG_DIR_GUID": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_LOG_DIR_GUID",
                                        "type": "Expression"
                                    },
                                    "PL_C_PARAM_TRANSFORM_CURATED_PATH": {
                                        "value": "@concat(variables('PL_C_VAR_TRANSFORM_DEVICE_TYPE'),'/',pipeline().parameters.PL_P_PARAM_LOG_DIR_GUID)",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Load Sl1 Data",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Get Device Type",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(variables('PL_C_VAR_TRANSFORM_DEVICE_TYPE'),'sl1')",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Execute Pipeline1",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "pl_load_sl1_report",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "PL_P_PARAM_TRIGGER_TIME": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_TRIGGER_TIME",
                                        "type": "Expression"
                                    },
                                    "PL_P_PARAM_FOLDER_NAME": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_FOLDER_NAME",
                                        "type": "Expression"
                                    },
                                    "PL_P_PARAM_FILE_NAME": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_FILE_NAME",
                                        "type": "Expression"
                                    },
                                    "PL_P_PARAM_LOG_DIR_GUID": {
                                        "value": "@pipeline().parameters.PL_P_PARAM_LOG_DIR_GUID",
                                        "type": "Expression"
                                    },
                                    "PL_C_PARAM_TRANSFORM_CURATED_PATH": {
                                        "value": "@concat(variables('PL_C_VAR_TRANSFORM_DEVICE_TYPE'),'/',pipeline().parameters.PL_P_PARAM_LOG_DIR_GUID)",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "PL_P_PARAM_TRIGGER_TIME": {
                "type": "string"
            },
            "PL_P_PARAM_FOLDER_NAME": {
                "type": "string"
            },
            "PL_P_PARAM_FILE_NAME": {
                "type": "string"
            },
            "PL_P_PARAM_LOG_DIR_GUID": {
                "type": "string"
            },
            "PL_C_PARAM_TRANSFORM_CURATED_PATH": {
                "type": "string"
            },
            "PL_C_PARAM_REQ_JSON": {
                "type": "string"
            },
            "PL_P_DEVICE_TYPE": {
                "type": "string"
            }
        },
        "variables": {
            "PL_C_VAR_TRANSFORM_DEVICE_TYPE": {
                "type": "String"
            }
        },
        "folder": {
            "name": "Transform"
        },
        "annotations": [],
        "lastPublishTime": "2022-10-11T16:01:57Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}