nhgh-edi-backend/adf-edi/pl_orch_report_dev/pipeline/pl_load_no_logger_report.json
{
    "name": "pl_load_no_logger_report",
    "properties": {
        "activities": [
            {
                "name": "Load Usbdg Devices",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "wildcardFolderPath": {
                                "value": "@pipeline().parameters.PL_C_PARAM_TRANSFORM_CURATED_PATH",
                                "type": "Expression"
                            },
                            "wildcardFileName": "usbdg_device.csv",
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "sink": {
                        "type": "AzureSqlSink",
                        "sqlWriterStoredProcedureName": "[usbdg].[uspLoadUsbdgDevices]",
                        "sqlWriterTableType": "[usbdg].[device_type]",
                        "storedProcedureTableTypeParameterName": "usbdg_device",
                        "disableMetricsCollection": false
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "name": "EDOP",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "EDOP",
                                    "type": "DateTime",
                                    "physicalType": "date"
                                }
                            },
                            {
                                "source": {
                                    "name": "EMFR",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "EMFR",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "EMOD",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "EMOD",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "EMSV",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "EMSV",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "EPQS",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "EPQS",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "ESER",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "ESER",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "zcfg_ver",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "zcfg_ver",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "zmcu_ver",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "zmcu_ver",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            }
                        ],
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "ds_adls_curated",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ds_sql_db",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Load Usbdg Events",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Load Usbdg Devices",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "wildcardFolderPath": {
                                "value": "@pipeline().parameters.PL_C_PARAM_TRANSFORM_CURATED_PATH",
                                "type": "Expression"
                            },
                            "wildcardFileName": "usbdg_event.csv",
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "sink": {
                        "type": "AzureSqlSink",
                        "sqlWriterStoredProcedureName": "[usbdg].[uspLoadUsbdgEvents]",
                        "sqlWriterTableType": "[usbdg].[event_type]",
                        "storedProcedureTableTypeParameterName": "usbdg_event",
                        "disableMetricsCollection": false
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "name": "ABST",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "ABST",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                }
                            },
                            {
                                "source": {
                                    "name": "BEMD",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "BEMD",
                                    "type": "Decimal",
                                    "physicalType": "decimal",
                                    "scale": 0,
                                    "precision": 18
                                }
                            },
                            {
                                "source": {
                                    "name": "EERR",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "EERR",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "ESER",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "ESER",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "zutc_now",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "zutc_now",
                                    "type": "DateTime",
                                    "physicalType": "datetime2"
                                }
                            },
                            {
                                "source": {
                                    "name": "zcell_info",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "zcell_info",
                                    "type": "String",
                                    "physicalType": "varchar"
                                }
                            }
                        ],
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "ds_adls_curated",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ds_sql_db",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Get Usbdg Location Metadata",
                "type": "GetMetadata",
                "dependsOn": [
                    {
                        "activity": "Load Usbdg Events",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_adls_curated_usbdg_location_csv",
                        "type": "DatasetReference",
                        "parameters": {
                            "PL_C_PARAM_TRANSFORM_CURATED_PATH": {
                                "value": "@pipeline().parameters.PL_C_PARAM_TRANSFORM_CURATED_PATH",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        "exists"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "Load Usbdg Location",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Get Usbdg Location Metadata",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@activity('Get USBDG Location Metadata').output.exists",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Copy Usbdg Location",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": true,
                                        "wildcardFolderPath": {
                                            "value": "@pipeline().parameters.PL_C_PARAM_TRANSFORM_CURATED_PATH",
                                            "type": "Expression"
                                        },
                                        "wildcardFileName": "usbdg_location.csv",
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "AzureSqlSink",
                                    "sqlWriterStoredProcedureName": "[usbdg].[uspLoadUsbdgLocations]",
                                    "sqlWriterTableType": "[usbdg].[location_type]",
                                    "storedProcedureTableTypeParameterName": "usbdg_location",
                                    "disableMetricsCollection": false
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ds_adls_curated",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ds_sql_db",
                                    "type": "DatasetReference"
                                }
                            ]
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "PL_P_PARAM_TRIGGER_TIME": {
                "type": "string"
            },
            "PL_P_PARAM_FOLDER_NAME": {
                "type": "string"
            },
            "PL_P_PARAM_FILE_NAME": {
                "type": "string"
            },
            "PL_P_PARAM_LOG_DIR_GUID": {
                "type": "string"
            },
            "PL_C_PARAM_TRANSFORM_CURATED_PATH": {
                "type": "string"
            }
        },
        "folder": {
            "name": "Load"
        },
        "annotations": [],
        "lastPublishTime": "2022-06-22T17:47:01Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}