adf-edi/pl_orch_report/pipeline/pl_transform_varo.json
{
    "name": "pl_transform_varo",
    "properties": {
        "activities": [
            {
                "name": "Transform",
                "type": "AzureFunctionActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "functionName": "transform",
                    "method": "POST",
                    "body": {
                        "value": "@json(pipeline().parameters.PL_C_PARAM_REQ_JSON)",
                        "type": "Expression"
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_func_transform_varo",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Delete",
                "type": "Delete",
                "dependsOn": [
                    {
                        "activity": "Transform",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_adls_stage",
                        "type": "DatasetReference",
                        "parameters": {
                            "PL_P_PARAM_LOG_DIR_GUID": {
                                "value": "@pipeline().parameters.PL_P_PARAM_LOG_DIR_GUID",
                                "type": "Expression"
                            }
                        }
                    },
                    "enableLogging": false,
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "Get Device Type",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Transform",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "PL_C_VAR_TRANSFORM_DEVICE_TYPE",
                    "value": {
                        "value": "@split(activity('Transform').output.path,'/')[0]",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Load SQL Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Get EMD Type",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "pl_load_switch",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "PL_P_PARAM_TRIGGER_TIME": {
                            "value": "@pipeline().parameters.PL_P_PARAM_TRIGGER_TIME",
                            "type": "Expression"
                        },
                        "PL_P_PARAM_FOLDER_NAME": {
                            "value": "@pipeline().parameters.PL_P_PARAM_FOLDER_NAME",
                            "type": "Expression"
                        },
                        "PL_P_PARAM_FILE_NAME": {
                            "value": "@pipeline().parameters.PL_P_PARAM_FILE_NAME",
                            "type": "Expression"
                        },
                        "PL_P_PARAM_LOG_DIR_GUID": {
                            "value": "@pipeline().parameters.PL_P_PARAM_LOG_DIR_GUID",
                            "type": "Expression"
                        },
                        "PL_C_PARAM_TRANSFORM_CURATED_PATH": {
                            "value": "@concat(variables('PL_C_VAR_TRANSFORM_DEVICE_TYPE'),'/',pipeline().parameters.PL_P_PARAM_LOG_DIR_GUID)",
                            "type": "Expression"
                        },
                        "PL_C_PARAM_REQ_JSON": {
                            "value": "@pipeline().parameters.PL_C_PARAM_REQ_JSON",
                            "type": "Expression"
                        },
                        "PL_P_DEVICE_TYPE": {
                            "value": "@pipeline().parameters.PL_P_DEVICE_TYPE",
                            "type": "Expression"
                        },
                        "PL_C_PARAM_TRANSFORM_DEVICE_TYPE": {
                            "value": "@variables('PL_C_VAR_TRANSFORM_DEVICE_TYPE')",
                            "type": "Expression"
                        },
                        "PL_P_PARAM_EMD_TYPE": {
                            "value": "@pipeline().parameters.PL_P_DEVICE_TYPE",
                            "type": "Expression"
                        },
                        "PL_C_PARAM_TRANSFORM_EMD_TYPE": {
                            "value": "@variables('PL_C_VAR_TRANSFORM_EMD_TYPE')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "Get EMD Type",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Get Device Type",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "PL_C_VAR_TRANSFORM_EMD_TYPE",
                    "value": {
                        "value": "@toLower(activity('Transform').output.emd)",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "PL_P_PARAM_TRIGGER_TIME": {
                "type": "string"
            },
            "PL_P_PARAM_FOLDER_NAME": {
                "type": "string"
            },
            "PL_P_PARAM_FILE_NAME": {
                "type": "string"
            },
            "PL_P_PARAM_LOG_DIR_GUID": {
                "type": "string"
            },
            "PL_C_PARAM_REQ_JSON": {
                "type": "string"
            },
            "PL_P_DEVICE_TYPE": {
                "type": "string"
            }
        },
        "variables": {
            "PL_C_VAR_TRANSFORM_DEVICE_TYPE": {
                "type": "String"
            },
            "PL_C_VAR_TRANSFORM_EMD_TYPE": {
                "type": "String"
            }
        },
        "folder": {
            "name": "Transform"
        },
        "annotations": [],
        "lastPublishTime": "2023-08-18T22:34:55Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}